<div class="row mb-3">
  <div class="col text-center">
    <h2 class="font-weight-bold">Работа с аудиторией</h2>
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Обзор сегментатора</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Расчетные сегменты</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Статические сегменты</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Динамические сегменты</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Отписка и подписка на рассылки</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">RFM</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Обогащение своей CRM</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Статистика</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Рост аудитории</h5>
        <p class="card-text">Рассматриваем способы пополнения базы подписчиков</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Профиль пользователя</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
</div>