<div class="row mb-3">
  <div class="col text-center">
    <h2 class="font-weight-bold">Массовые web push рассылки</h2>
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Создание рассылки</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Выбор сегмента для рассылки</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Тестирование рассылки</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Настройка сбора подписок</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Статистика рассылки</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Rich push</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Использование переменных</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Перенос токенов</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
</div>