<div class="row mb-3">
  <div class="col text-center">
    <h2 class="font-weight-bold">Попап для подписок</h2>
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Обзор инструмента</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Сбор email-подписок</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Сбор web push</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Настройка правил поп-апа</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Оформление поп-апа</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
</div>