<div class="row mb-3">
  <div class="col text-center">
    <h2 class="font-weight-bold">Подключение</h2>
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Как подключиться?</h5>
        <p class="card-text">Основные шаги для подключения проекта</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Подключение вручную</h5>
        <p class="card-text">Как подключить магазин вручную</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Плагины для CMS</h5>
        <p class="card-text">Простые способы подключения с помощью плагина к CMS</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Товарный фид</h5>
        <p class="card-text">Как подготовить товарный фид к загрузке в REES46</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Загрузка истории заказов</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Статусы заказов</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <iframe width="100%" src="https://www.youtube.com/embed/odO17J7Ugs8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Загрузка аудитории для рассылок</h5>
        <p class="card-text">Как загрузить первый список подписчиков</p>
      </div>
      <div class="card-footer">
        <small>2 минуты</small>
      </div>
    </div>
  </div>
</div>