<div class="row mb-3">
  <div class="col text-center">
    <h2 class="font-weight-bold">Настройки системы</h2>
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Настройка валюты</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Настройка уведомлений</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Настройка товарного фида</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Планирование показателей</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Управление сотрудниками</h5>
        <p class="card-text">...</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-height mb-3">
      <img src="https://dummyimage.com/297x176/000/fff" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Тестовый магазин</h5>
        <p class="card-text">Как сделать тестовый магазин для разработчиков</p>
      </div>
      <div class="card-footer">
        <small>4 минуты</small>
      </div>
    </div>
  </div>
</div>