<%= render partial: 'layouts/header', locals: {title: 'Подключение с помощью плагина', breadcrumbs: [[ru_path, 'Начало']]} %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">

      <h2 class="mb-3 font-weight-bold">Подключение с помощью плагина</h2>

      <h3 class="mb-3">Обзор подключения</h3>
      <h3 class="mb-3">InSales</h3>
      <h3 class="mb-3">Битрикс</h3>
      <h3 class="mb-3">OpenCard</h3>
      <h3 class="mb-3">CS-Cart</h3>
      <h3 class="mb-3">Prestashop</h3>
      <h3 class="mb-3">ShopScript</h3>
      <h3 class="mb-3">Shopify</h3>
      <h3 class="mb-3">Magento</h3>

    </div>
  </div>
</div>