<%= render partial: 'layouts/header', locals: {title: 'Панель управления', breadcrumbs: [[ru_path, 'Начало']]} %>


<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">

      <h2 class="mb-3 font-weight-bold">Панель управления</h2>


    </div>
  </div>
</div>