<div class="bg-success mb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 py-5 text-white">
        <div class="font-weight-bold">REES46</div>
        <div>Обучающий портал</div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">

      <h2 class="mb-3 font-weight-bold">Начало работы</h2>
      <div class="mb-3">
        <div class="font-weight-bold mb-0"><a href="#">Что такое REES46?</a></div>
        <div>Краткий обзор возможностей платформы и чего от нее ожидать.</div>
      </div>
      <div class="mb-3">
        <div class="font-weight-bold mb-0"><a href="#">Панель управления</a></div>
        <div>Как пользоваться дашбордом, биллингом и настройками.</div>
      </div>
      <div class="mb-3">
        <div class="font-weight-bold mb-0"><a href="#">Подключение</a></div>
        <div>Как подключить интернет-магазин к REES46.</div>
      </div>

      <hr>

      <h2 class="mb-3 font-weight-bold">Товарные рекомендации</h2>
      <div class="mb-3">
        <div class="font-weight-bold mb-0"><a href="#">Основы работы с товарными рекомендациями</a></div>
        <div>Обзор инструмента, назначение и оценка результатов</div>
      </div>
      <div class="mb-3">
        <div class="font-weight-bold mb-0"><a href="#">Расширенные возможности товарных рекомендаций</a></div>
        <div>Собственные шаблоны рекомендаций, A/B-тестирование, создание собственных блоков</div>
      </div>
      <hr>

      <h2 class="mb-3 font-weight-bold">Поиск для интернет-магазина</h2>
      <div class="mb-3">
        <div class="font-weight-bold mb-0"><a href="#">Что такое REES46?</a></div>
        <div>Краткий обзор возможностей платформы и чего от нее ожидать.</div>
      </div>
      <hr>

      <h2 class="mb-3 font-weight-bold">E-mail рассылки</h2>
      <div class="mb-3">
        <div class="font-weight-bold mb-0"><a href="#">Что такое REES46?</a></div>
        <div>Краткий обзор возможностей платформы и чего от нее ожидать.</div>
      </div>
      <hr>

      <h2 class="mb-3 font-weight-bold">Web push рассылки</h2>
      <div class="mb-3">
        <div class="font-weight-bold mb-0"><a href="#">Что такое REES46?</a></div>
        <div>Краткий обзор возможностей платформы и чего от нее ожидать.</div>
      </div>
      <hr>

      <h2 class="mb-3 font-weight-bold">Триггерные цепочки</h2>
      <div class="mb-3">
        <div class="font-weight-bold mb-0"><a href="#">Что такое REES46?</a></div>
        <div>Краткий обзор возможностей платформы и чего от нее ожидать.</div>
      </div>
      <hr>

      <h2 class="mb-3 font-weight-bold">Отзывы</h2>
      <div class="mb-3">
        <div class="font-weight-bold mb-0"><a href="#">Что такое REES46?</a></div>
        <div>Краткий обзор возможностей платформы и чего от нее ожидать.</div>
      </div>
      <hr>

      <h2 class="mb-3 font-weight-bold">Аудитория и сегментация</h2>
      <div class="mb-3">
        <div class="font-weight-bold mb-0"><a href="#">Что такое REES46?</a></div>
        <div>Краткий обзор возможностей платформы и чего от нее ожидать.</div>
      </div>
      <hr>

      <h2 class="mb-3 font-weight-bold">Служебные задачи</h2>
      <div class="mb-3">
        <div class="font-weight-bold mb-0"><a href="#">Сотрудники</a></div>
        <div>Краткий обзор возможностей платформы и чего от нее ожидать.</div>
      </div>
      <hr>


    </div>
  </div>
</div>