<%= render partial: 'layouts/header', locals: {title: 'Подключение вручную', breadcrumbs: [[ru_path, 'Начало']]} %>


<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">

      <h2 class="mb-3 font-weight-bold">Подключение вручную</h2>

      <h3 class="mb-3">Обзор подключения</h3>
      <h3 class="mb-3">Настройка событий</h3>
      <h3 class="mb-3">Товарный каталог</h3>

      <h3 class="mb-3">Дополнительные действия</h3>
      <h4 class="mb-3">Импорт истории заказов</h4>
      <h4 class="mb-3">Импорт подписчиков</h4>
      <h4 class="mb-3">Синхронизация статусов заказов</h4>


    </div>
  </div>
</div>