<%= render partial: 'layouts/header', locals: {title: 'Обзор возможностей', breadcrumbs: [[ru_path, 'Начало']]} %>


<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">

      <h2 class="mb-3 font-weight-bold">Обзор возможностей</h2>

      <figure class="figure">
        <svg class="bd-placeholder-img figure-img img-fluid rounded" width="400" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 400x300"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">400x300</text></svg>
        <figcaption class="figure-caption">Рассматриваем возможности платформы для автоматизации маркетинга eCommerce</figcaption>
      </figure>


    </div>
  </div>
</div>